/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-weight: normal;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@mixin transition($transition){
	-webkit-transition: all $transition ease-in-out;
	-moz-transition: all $transition ease-in-out;
	-o-transition: all $transition ease-in-out;
	transition: all $transition ease-in-out;
}

@mixin gradient(){
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin width-mobile(){
	margin-left: auto;
	margin-right: auto;
	width: 96%;
}

@mixin width-desktop(){
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

@mixin width-960(){
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

@mixin width-768(){
	width: 100%;
	margin-left: none;
	margin-right: none;
}

@mixin line-up-image($max-height, $min-height){
	overflow: hidden;
	max-height: $max-height;
	min-height: $min-height;
	position: absolute;
	width: 100%;
}

@mixin type($size){
	font-family: 'normalise_din_mnregular';
	font-weight: normal;
	font-size: $size;
	font-style: normal !important;
}

@mixin newsPadding(){
	width: 90%;
	margin-left: 10px;
}

@mixin list(){
	width: max-content;
	margin-left: auto;
	margin-right: auto;
}

@mixin button(){
	background: none;
	border: 3px white solid;
	width: 76%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 70%;
	font-size: calc(#{$medium});
	color: white;
	text-transform: uppercase; 
	margin-top: 10px;
}

$primary-colour: #302784;
$color-opacity:rgba(48, 39, 132, 0.95);
$border-opacity:rgba(0,18,255,0.3);
$grey:#B0B0B0;
$second-grey: #f7f7f7;
$black: #383838;
$animation-speed:0.3s;
