@media screen and ($break-prod: $break-mobile){
	
	//mobile
	
	.mobile{
		display: block;
	}
	
	.desktop{
		display: none;
	}
	
	//Header
	
	.home{
		header{
			margin-top: -5px;
		}
	}
	
	header{
		height: 260px;
		background-color: white;
		width: 100%;
		z-index: 20000;
		margin-top: -270px;
		
		
		&.desktop{
			display: none;
		}
		
		h1{
			font-size: calc(#{$large} * #{$multiplier});
			color: white;
		}
	
		.hamburger{
			width: 15%;
			height: 160px;
			float: left;
		}
		
		.page__title{
			width: 30%;
			height: 270px;
			float: left;
			text-align: left;
			padding-right: 2%;
			
			img{
				width: 280px;
			}
			
			a{
				text-decoration: none;
				font-style: normal;
				
				h1{
					font-size: calc(#{$large} * #{$multiplier});
					color: white;
				}
			}
			
		}
		
		.sub__nav{
			background-color: $primary-colour;
			height: 104px;
			overflow: hidden;
			float: left;
			width: 100%;
			display: none;
			text-transform: uppercase;
			color: white;
			
			p{
				font-size: calc(#{$regular} * #{$multiplier});
				text-transform: capitalize;
			    margin-top: 24px;
			    width: 50%;
			    margin-left: 15px;
			    margin-bottom: 60px;
			    float: left;
			}
			
			
			.sub_menu_involve{
				display: none;
			}
			
			.sub_menu_contact{
				display: none;
			}
			
			&.display{
				display: block;
			}
			
			&.open{
				height: intrinsic;
			}
			
			.open__close{
				width: 100px;
				height: 100px;
				float: right;
				margin-top: -135px;
				margin-right: 20px;
				-webkit-transition: all $animation-speed ease-in;
				-moz-transition: all $animation-speed ease-in;
				-o-transition: all $animation-speed ease-in;
				transition: all $animation-speed ease-in;
				
				&.open{
						-ms-transform: rotate(180deg); /* IE 9 */
						-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
						transform: rotate(180deg);
					}
				
				svg{
					height: 80px;
					width: 80px;
				}
			}
			
			ul{
				overflow: auto;
				width: 600px;
				float: left;
				@include type(calc(#{$regular}));
				margin-left: 30px;
				
				
				li{
					font-size: calc(#{$medium} * #{$multiplier});
					margin-bottom: 30px;
					
					a{
						text-decoration: none;
						font-style: normal;
					}
				}
			}
			
		}
		
		&.mobile{
			position: fixed;
			display: block;
		}
		
		&.display{
			display: block;
		}
	
	}
	
	.get-involved, .volunteer, .paid-roles-interships, .become-an-ambassabor, .contact {
			header{	
				.sub__nav{
					display: block;
					margin-top: -20px;
					
					.sub_menu{
						display: none;
					}
					
					.sub_menu_involve{
					display: block;
					margin-top: -7px;
					}
				}	
			}
		}
		
	.contact, .general-enquiries, .press-enquiries, .entertainment-application, .food-drink-application, .stalls-application, .band-dj-application{
			header{	
				.sub__nav{
					display: block;
					margin-top: -11px;
					
					.sub_menu{
						display: none;
					}
					
					.sub_menu_contact{
					display: block;
					margin-top: -7px;
					}
					
					.sub_menu_involve{
					display: none;
					margin-top: -19px;
					}
				}	
			}
		}	
		
	.ethos, .info, .travel, .camping, .kids, .ticketing-issues, .disabled, .food-drink, .safety, .packing-list, .faq{
			header{	
				.sub__nav{
					display: block;
					margin-top: -19px;
				}	
			}
		}	
	
	.hamburger__menu{
		position: fixed;
		top: 20px;
		left: 20px;
		background-color: transparent;
		width: 100px;
		height: 100px;
		z-index: 30000;
		
		svg{
			width: 60px;
			height: 60px;
			
			&.hamburger_button{			
				rect{
					fill: $primary-colour;
				}
			}
			
			&.hamburger__close{
				display: none;
					rect{
						fill:white;
					}
			}
		}
		
		&.clicked{
			svg{
				&.hamburger_button{
					display: none;
				}
				
				&.hamburger__close{
					display: block;
				}
			}
		}
		
	}
	
	.hamburger__overlay{
		height: 100vh;
		width: 100%;
		background-color: $color-opacity;
		position: fixed;
		z-index: 20000;
		display: none;
		top: 0;
		-webkit-transition: all $animation-speed ease-in;
		-moz-transition: all $animation-speed ease-in;
		-o-transition: all $animation-speed ease-in;
		transition: all $animation-speed ease-in;
		
		&.display{
			display: block;
		}
		
		ul{
			@include width-mobile();
			@include type(calc(#{$large} * #{$multiplier}));
			color: white;
			margin-top: 25vh;
			
			li{
			text-align: center;
			margin-bottom: 20px;
			text-transform: uppercase;
				
				a{
					text-decoration: none;
					font-style: normal;
				}
			
			}
		}
	}
	
	
	
  
	//Carousel
	
	.carousel__wrapper{
		height: 76vh;
		background-color: blue;
		width: 100%;
		background: no-repeat center center url('http://localhost/wp-content/uploads/2016/01/AlexMorgan_1.jpg');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		color: white;
		position: relative;
		
		.mobile__date{
		background-color: $primary-colour;
		height: 80px;
		width: 100%;
		color: white;
		@include type(calc(#{$date} * #{$multiplier}));
		position: absolute;
		top: 256px;
		z-index: 500;
		text-align: center;
		padding-top: 30px;
		
		&.mobile{
			display: block;
		}
	}
		
		.arrow{
			display: none;
		}
		
		.gradient{
			position: absolute;
		    height: 920px;
		    width: 100%;
		    bottom: 0;
			@include gradient();
			z-index: 1;
		}
		
		ul{
			width: 100%;
			height: 100%;
			position: relative;
			bottom: 0px;

			
			li{
				overflow: hidden;
				position: absolute;
				text-align: center;
				width: 100%;
				opacity: 0;
				@include transition(1s);
				
				img{
					width: 187%;
					margin-left: -43%;
					margin-top: 26vw;				
				}
				
				h1{
					font-size: calc(#{$large} * #{$multiplier});
					top:75vw;
				}
				
				
				&.fadeIn{
					opacity: 1;
					@include transition(1s);
				}
				
				a{
					color: white;
					font-size: calc(#{$base} * #{$multiplier});
					top: 101vw;
		
				}
			}
			
		}
		
	}
	
	//Buy Button
	
	.buy__button{
		height: 15vh;
		width: 50%;
		background-color: transparent;
		padding-top: 1vh;
		display: block;
		float: left;
		
		a{
			text-decoration: none;
		}
		
		button{
			background: none;
		    border: 12px $primary-colour solid;
		    width: 90%;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		    height: 85%;
		    
		    
		    h1{
			    color: $primary-colour;
			    font-size: calc(#{$base} * #{$multiplier});
		    }
		    
		    &:hover{
			    background-color: white;
			    color: $primary-colour;
		    }
		}
		
	}
	
	//Illustration 
	
	.illustration__container{
		@include width-mobile();
		min-height: 700px;
		position: relative;
		overflow: hidden;
		}
	
	.illustration__panel--news{
		padding-top: 0px;
		height: 680px;
	}
	
	.illustration__panel--line{
		padding-top: 300px;
		height: 520px;
		margin-top: -350px;
	}
	
	.illustration__panel--photos{
		padding-top: 300px;
		height: 520px;
		margin-top: -370px;
		
		img{
			width: 100%;
		}
	}
	
	.illustration__panel--contact{
		height: 603px;
		padding-top: 0px;
		
		img{
			width: 100%;
		}
	}
	
	.illustration__panel--news, .illustration__panel--line, .illustration__panel--photos, .illustration__panel--contact{
		width: 100%;
		position: relative;
		overflow: hidden;
		
		h1, h2{
			padding: 0;
			margin: 0;
			line-height: 0.9;
		}
		
		h1{
			color: $primary-colour;
			font-size: calc(#{$large} * #{$multiplier});
		}
		
		h2{
			color: $grey;
			font-size: calc(#{$regular} * #{$multiplier});
		}
		
		.illustration__title{
			overflow: hidden;
			height: 200px;
			width: max-content;
			position: absolute;
			z-index: 10;
			text-transform: uppercase;
			margin:{
				left: 2%;
			}
		}
		.illustration{
			overflow: hidden;	
			height: max-content;
			width: 100%;
			position: absolute;
			right: 0;
			z-index: -10;
			
			&.news{
				right: -150px;
				top: -130px;
			}
			
			&.line-up{
				right: 40px;
				top:-140px;
				width: 120%;
			}
			
			&.photos{
				right: -350px;
				bottom: -130px;
			}
			
			&.contact{
				right: -90px;
				bottom: -294px;
			}
		}
		
		.section__link{
			position: absolute;
			bottom: 60px;
			height: max-content;
			font-size: calc(#{$base} * #{$multiplier});
			color: $primary-colour;
			margin-left: 2%;
		}
		
		
		
	}
	
	
	//news
	
	.news__wrapper{
		min-height: 330px;
		width: 100%;
		
		svg{
			display: none;
		}
		
		.news__image{
			width: 100%;
			margin-bottom: 10px;
			max-height: 505px;
			overflow: hidden;
			
			img{
				width: 100%;
				height: auto;	
			}
		}
		
		ul{
			@include width-mobile();
			overflow: hidden;
		
			li{
				margin-bottom: 50px;
				float: none;
				width: 100%;
				height: auto;
				background-color: white;
				
				h3{
					margin-bottom: 10px;
					font-size: calc(#{$smallest} * #{$multiplier});
				}
				
				h4{
					margin-bottom: 30px;
					margin-top: 20px;
					font-size: calc(#{$medium} * #{$multiplier});
					line-height: calc(#{$medium + 4} * #{$multiplier});
				}
				
				&:after{
					content: "";
					height: 1px;
					background-color: rgba(51, 51, 51, 0.3);
					width:104%;
					display: block;
					margin-left: -2%;
					margin-top: 50px;
					
				}
				
				&:hover{
					background-color: $primary-colour;
					color: white;
				}
			}
		}
		
		a{
			font-size: calc(#{$smallest} * #{$multiplier});
			position: relative;
		}
	}
	
	//Line up
	
	.line__up__wrapper{
		min-height: 330px;
		width: 100%;
		
		ul{
			@include width-mobile();
			overflow: auto;
			
			&.friday{
				overflow: hidden;
			}
			
			.post--wrapper{
				margin-bottom: 10px;
			}
			
			.line__up__day{
				border-top: 3px $primary-colour solid; 
				border-bottom: 3px $primary-colour solid; 
				padding: 20px 0px 20px 0px;	
				margin-bottom: 10px;
				
				h1{
				font-size: calc(#{$large} * #{$multiplier});	
				color: $primary-colour;
				}
				}
			
			&.friday{
				float: none;
				@include width-mobile();
				margin-right: none;
				border-right: none;
				padding-right: none;
			}
			
			&.saturday{
				float: none;
				@include width-mobile();
			}
			
			li{
				float: none;
				width: 100%;
				
				&.category-large{
					
					.post--wrapper{
						position: relative;
						min-height: 500px;
						float: none;
						width: 100%;
						
						 h1{
							position: absolute;
							top: 10px;
							left: 10px;
							color: white;
							font-size: calc(#{$large} * #{$multiplier});
						}
						
					}
					
					.line-up__image{
					@include line-up-image(505px , 130px);	
					height: 505px !important;

						img{
							width: 100%;
							height: auto;
							display: block;
						}
					}
				}
				
				&.category-largesplit{
					    width: 100%;
						margin-right: 0.4%;
					
					.post--wrapper{
						position: relative;
						float: left;
						width: 100%;
						min-height: 505px;
						
						 h1{
							position: absolute;
							top: 10px;
							left: 10px;
							color: white;
							font-size: calc(#{$large} * #{$multiplier});
							text-transform: uppercase;
						}
						
					}
					
					.line-up__image{
					@include line-up-image(505px, 130px);
					background-color: $primary-colour;
					
					
					&:hover{
						img{
							opacity: 0.2;
						}
					}	

						img{
							height: auto;
							width: 100%;
							display: block;
							margin-left: 0%;
						}
					}
				}
				
								
				&.category-small, &.category-medium, &.category-mini{
					word-wrap:break-word;
				}
				
				&.category-medium{
					height: 266px;
					
					.post--wrapper{
						min-height: 272px;
						
						h1{	
							width: 80%;
							font-size: calc(#{$regular} * #{$multiplier});
						}
					}
					
					.line-up__image{
						min-height: 259px;
					}
				}
				
				&.category-mini{
					height: 183px;;
					
					.post--wrapper{
						min-height: 272px;
						
						h1{
							font-size: calc(#{$base} * #{$multiplier});
						}
					}
					
				}
				
								
				&.last-medium{
					    float: left;
						width: 100%;
						border-bottom: 1px solid grey;
						margin-bottom: 40px;
						margin-top: 40px;
						
				}
				
				&.category-small{
					width: max-content;
					float: left;
					
					.post--wrapper{
						margin-right: 20px;
						color: $primary-colour;
					}
					
					&.last{
						h1{
							&::after{
							content: "";
						}
						}
					}
					
					h1{
						font-size: calc(#{$base} * #{$multiplier});
								
						&::after{
							content: " / ";
						}
					}			
				}
					
			}	
		}
	}
	
	//photos
	
	.video__wrapper{			
			.photo__gallery__wrapper{
				iframe{
					width: 99.7%;
					margin-left: 0px;
				}
			}
		}
	
	.photo__gallery__wrapper{
		min-height: 310px;
		width: 100%;
		@include width-mobile();
		
		a{
			width: 99.3%;
			margin-left: 0.5%;
			float: none;	
			position: absolute;
			display: block;
			
			&::after{
				display: block;
				content:url('http://www.farmfestival.co.uk/wp-content/uploads/2016/02/expand_mobile.png');
				width: calc(33px * #{$multiplier});
				height: calc(33px * #{$multiplier});
				background-color: $primary-colour;
				position: absolute;
				right: 10px;
				top: 10px;
				padding-left: calc(16px * #{$multiplier});
				padding-top: calc(14px * #{$multiplier});
				border-radius: 50%;
				opacity: 1;
			}
		}		
			
		img{
			width: 100%;
			margin-left: none;
			float: none;
		}
		
	}
	
	#swipebox-close{
		
	}
	
		//single
	
	#single__background__image{
		background: no-repeat center fixed $primary-colour;
		background-position-y: 190px;
		height: 460px;
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: 100%;
	    position: relative;
	    margin-top: 254px;
	    
	    .single__title__wrapper{
	    	position: absolute;
			bottom: 20px;
			color: white;
			width: 100%;
			font-size: calc(#{$large} * #{$multiplier});
			
		    .single__title{
			    @include width-mobile();
			    h1{
				   font-size: calc(#{$large} * #{$multiplier}); 
			    }
		    }
	    
	    }
	    
	}
	
	#single__wrapper{
		@include width-mobile();
		margin-top: 40px;
		font-size: calc(#{$small} * #{$multiplier});
		line-height: calc(#{$regular} * #{$multiplier});
		overflow: auto;
		
		.category-news{
			margin-top: -220px;
		}
		
		.single__image{
			margin-bottom: 20px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			height: 450px;
			
			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
		.single__menu{
			width: 200px;
			float: left;
			
			ul{
				li{
					@include type(calc(#{$large} * #{$multiplier}));
					margin-top: 10px;
					
					a{
						font-style: normal;
						text-decoration: none;
						color: $primary-colour;
						
						&:hover{
							color: $grey;
						}
						
					}
				}
			}
		}
		
		.single__content{
			width: 100%;
			float: left;
			margin-bottom: 20px;
			
			h1{
			font-size: calc(#{$large} * #{$multiplier});	
			line-height: calc(#{$large} * #{$multiplier});
			}
			
			p{
				line-height: calc(#{$sub-med} * #{$multiplier});
			}
			
			.single__title{
				h1{
				   font-size: calc(#{$large} * #{$multiplier});
				   margin-top: 40px;
				   margin-bottom: 60px; 
			    }
			}
			
			h2{
				font-family: 'Libre Baskerville', serif;
				font-size: calc(#{$base * #{$multiplier}});
				line-height: calc(#{$regular * #{$multiplier}});
				font-style: italic;
				margin-top: -15px;
				margin-bottom: 20px;
				color: #383838;
			}
			
			
			blue{
				color: $primary-colour;
			}
			
			ul{
				margin-top: 20px;
				margin-bottom: 20px;
				margin-left: 20px;
			}
			
			li{
				list-style: url('http://localhost/wp-content/uploads/2016/01/lightening.png');
				@include type(calc(#{$medium} * #{$multiplier}));
				color: $primary-colour;
				margin-top: 5px;
			}
			
			img{
				width: 100%;
				height: auto;
				margin: 10px 0px 0px 0px;
			}
			
			.wp-caption{
				width: 100% !important;
			}
			
			.wp-caption-text{
				color: $grey;
				margin-bottom: 20px;
			}
			
			iframe{
				width: 100%;
			}
			
			blockquote{
				margin-top: 20px;
				margin-left: 0px;
				font-family: 'Libre Baskerville', serif;
				
				p{
					font-family: 'Libre Baskerville', serif;
					font-size: calc(#{$base} * #{$multiplier});
					color: $primary-colour;
					margin-bottom: 30px;
					margin-top: 5px;
					line-height: calc(#{$sub-med} * #{$multiplier});
					margin-bottom: 0px;
				}
				
				strong{
					@include type(calc(#{$small} * #{$multiplier}));
					margin-top: 10px;
					text-transform: uppercase;
					line-height: 36px;
					// margin-left: -16px;
				}
				
				&:before{
					margin-bottom: 20px;
				}
				
				&:after{
					margin-top: 10px;
				}
				
				&:before, &:after{
					content:"";
					display: block;
					width: 200px;
					background-color: $primary-colour;
					height: 2px;
					margin-left: -15px;
				}
			}
		}
		
		&.category-line-up{
			margin-top: -210px;
			
			.single__image{
			width: 100%;
			margin-bottom: 20px;
			position: relative;
			min-height: 40px;
			margin-left: auto;
			margin-right: auto;
			height: 450px;
			overflow: hidden;
			display: block;
			}
		}
		
		&.category-news, &.category-feature{
			margin-top: -150px;
			
			.single__title{
				display: none;
			}
			
			.single__menu{
				width: 260px;
				height: 300px;
				margin-top: -103px;
				
				.next-previous{
					&.line-up-next{
						display: none;
					}
					
					&.news-next{
						display: block;
					}
					
					svg{
						path{
							fill: $primary-colour;
						}
					}	
				}
				
				.menu{
					display: none;
					}
			}
			
			.single__image{
			width: 100%;
			margin-bottom: 20px;
			position: relative;
			min-height: 40px;
			margin-left: auto;
			margin-right: auto;
			height: 450px;
			overflow: hidden;
			display: block;
			}

		}
		
	}
	
	//manifesto
	
	.manifesto{
		position: absolute;
		bottom: 50px;
		z-index: 10;
		width: 100%;
		text-align: center;
		@include type(calc(#{$medium} * #{$multiplier}));
		cursor: pointer;
		text-transform: uppercase;
		
		
		&:hover{
			h2{
				text-decoration: underline;
			}
		}
		
	}
	
	.manifesto__wrapper{
		background-color: $color-opacity;
		height: 100vh;
		position: fixed;
		width: 100%;
		z-index: 10000000;
		display: none;
		-webkit-transition: all $animation-speed ease-in;
		-moz-transition: all $animation-speed ease-in;
		-o-transition: all $animation-speed ease-in;
		transition: all $animation-speed ease-in;
		
		&.display{
			display: block;
		}
		
		.manifesto__close{
			position: absolute;
			right: 40px;
			top:40px;
			cursor: pointer;
			
			svg{
				width: 40px;
				height: 40px;
			}
			
		}
		
		.manifesto__container{
			margin-left: auto;
			margin-right: auto;
			@include width-mobile();
			color: white;
			text-align: center;
			margin-top: 200px;
			
			h1{
				
				font-size: calc(#{$medium} * #{$multiplier}) ;
				margin-bottom: 20px;
				
			}
			
			p{	
				font-size: calc(#{$base} * #{$multiplier}) ;
				line-height: calc(#{$base} * #{$multiplier});
				margin-bottom: 40px;
			}
			
			h2{
				margin-bottom: 20px;
			}
			
			a{
				font-size: calc(#{$regular} * #{$multiplier});
				margin-top: 20px;
			}
		}
	}
	
	.mailchimp__wrapper{
		display: none;
	}
	
	.ethos, .line-up .latest{
		padding-top: 100px;
		
		.mobile{
			margin-top: -100px;
		}
		
		.hamburger__menu.mobile{
			margin-top: 0px;
		}
	} 
	
	.ethos{
		header{
			.sub__nav{
				display: none;
			}
		}
	}
	
	.ethos{
		#single__background__image{
			margin-top: 154px;
		}
	}
	
	footer{
		background-color: $primary-colour;
		height: 70vh;
		margin-top: 0px;
		.footer__wrapper{
			
			.credit{
				text-align: center;
				p{
					color: white;
					font-size: calc(#{$regular} * #{$multiplier});
				}
			}
			
			.social__media{
				ul{
					li{
					    width: 21vw;
						height: 21vw;
						margin-right: 20px !important;
						border: 4px solid white;
						
						svg{
							width: 10vw;
							height: 17vw;
						}
						
						a{
							text-decoration: none;
						}
					}
				}
			}
		
		.cta{
			padding: 90px 0 50px 0px;
			ul{
				li{
					width: 46vw;
					height: 24vw;
					
					a{
						text-decoration: none;
					}
					
				}
				button{
					font-size: calc(#{$regular} * #{$multiplier});
					
				}
			}	
		}
		
		.logos{
			overflow: auto;
			margin-bottom: 80px;
			ul{
				li{
					width: 230px;
				}
			}
		}
				
		}
		
		.footer__wrapper{
			@include width-mobile();
			}
		
	}
	
	.line-up, .latest, .tickets, .about{
		padding-top: 170px;
		
		.illustration__panel--news{
			.illustration__container{
				.illustration__title{
					margin-top: 220px;
				}
			}
		}
		
		.illustration__panel--line{
			.illustration__container{
				.line-up{
					top: -20px;
				}
				.illustration__title{
					margin-top: 220px;
				}
			}
		}
		
		header.mobile{
			margin-top: -175px;
		}
		
		#single__background__image{
			margin-top: 0px;
		}
		
		.illustration__container{
			    margin-top: -81px;
		}
	}	

}